body {
   margin: 0px; 
}

h1.header {
    margin-left: 0px;
}

nav {
    margin: 0 20px;
}

nav li {
	margin: 5px 0;
    padding: 2px 0;
    width: 100%;
}

nav li a {
    background: #B521BF;
    min-width: 120px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navigation {
    width: 200px;
    height: 100%;
    position: fixed;
    background: rgb(7, 253, 253);
}

a:link, a:visited {
    display: block;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #B521BF;
    text-align: left;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #377977;
}

.content {
    margin-left: 80px;
}

img {
    width: 120px;
    border-radius: 20%;
}

.profile {
    text-align: center;
    margin: 20px;
}

.profile h1 {
    font-size: 20px;
}